
.bezier-tree .caption{
	/*margin: 2px 0px;*/
	color:black;
	/*border: 2px outset gray;*/
}

.bezier-tree ul{
	list-style: none;
	padding-left: 0px;
	border: 1px inset #eee;
}

.bezier-tree li{
	border: 1px outset #eee;
}

.bezier-tree .figure{
	border: 3px outset #eee;
}


.figure .items > ul{
}

.figure .items > ul > li{
	display: inline-block;
}

/* .figure .items>ul>li>ul{ */
.points > ul, 
.rotors > ul,
.splines > ul,
.curves > ul{
	vertical-align: top;
	height: 200px;
	max-height: 200px;
	overflow: scroll;
}

.figure > ul > .figures > ul{
	/*height: 600px;*/

	max-height: 600px;
	overflow: scroll;
/**/
}




p{
	margin: 0px 0px;
}

.bezier-tree .active{
	background-color: yellow;
}
