
.network{
	position : absolute;
	left:20%;
	top:10%;

	display: flex;
	flex-direction: row;
}

.layer{
	display: inline-block;
	border:1px solid yellow;
	vertical-align: middle;
}

.layer.active{
	background-color: yellow;
}


.neuron{
	border:1px solid red;
	border-radius:20px;
	padding: 0px 20px;
}

.neuron.active{
	background-color: red;
}

.neuron input{
	width:50px;
}


.weight{
	border:1px solid pink;
}

.weight.active{
	border:1px solid maroon;
}
